<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/menu.css">

<header>
        <nav class="headerArea">
            <div class="menuIcon">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="pageTitle">
                <h1>HealthAura</h1>
            </div>
        </nav>
    </header>

    <!-- Body -->
    <!-- SearchBar -->
    <section class="searchbarSection">
        <div class="searchBar-Homepage">
            <div class="searchIcon">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <div class="searchText">
                <p>Search for Doctors</p>
            </div>
        </div>
    </section>


    <section class="docListingComponent">
        <div class="doctorListi">
            {{#each allDoctorsData}}
            <div class="singleDocCard">
                <div class="leftDocImg">
                    <img src="/uploads/{{this.doctorImage}}" alt="">
                </div>
                <div class="rightDocInfo">
                    <a href="/doctors/{{this.id}}/{{this.doctorName}}">
                        <h1>{{this.doctorName}}</h1>
                    </a>
                    <p>{{this.mainSpeciality}} - {{this.doctorCity}}</p>
                    <div class="docRating">
                        <ion-icon name="star-outline"></ion-icon>
                        <p>{{this.totalRating}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>


    <section class="searchPage-hospital">
        <div class="cancelBtn-searchPage">
            <ion-icon name="close-outline"></ion-icon>
        </div>

        <div class="searchUpperSection">
            <div class="searchInput">
                <form action="/doctors/search" method="GET">
                    <ion-icon name="search-outline" class="searchIcon-hospitalSearch"></ion-icon>
                    <input type="text" name="treatment" class="HSP-normalSearch" placeholder="Enter Treatment">
                    <button type="submit">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </button>
                </form>
            </div>



            <div class="boxMedicaDoctor">
                <div class="boxDoctor box-common-hda">
                    <img src="/img/hospital.png" alt="">
                    <p>Hospital</p>
                </div>
                <div class="boxDoctor box-common-hda">
                    <img src="/img/medicals.png" alt="">
                    <p>Medicals</p>
                </div>
                <div class="boxDoctor box-common-hda">
                    <img src="/img/ambulance.png" alt="">
                    <p>Ambulance</p>
                </div>
            </div>

    </section>

    {{#if numberOfPages}}
        <p class="numberOfPages hide">{{numberOfPages}}</p>
    {{/if}}

    {{#if fullData}}
        <section class="paginationBTNS">
            <button id="previousPage">Previous</button>
            <button id="nextPage">Next</button>
        </section>
    {{/if}}

     <!-- Menu -->
        {{>mobile-menu}}


    <script src="/js/DP.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let numberOfPages = document.querySelector('.numberOfPages').innerHTML;
        const nextPageBtn = document.getElementById('nextPage');
        const previousPageBtn = document.getElementById('previousPage');
        console.log(nextPageBtn, previousPageBtn)
        console.log(location.search)

        function isFirstPage(){
            if(location.search == '' || location.search.includes('page=1')){
                previousPageBtn.style.display = "none";
                console.log(true)
            }

            if(location.search.includes('treatment') && !location.search.includes('&page=')){
                previousPageBtn.style.display = "none";

            }
        }

        const isLastPage = () => {
            if(location.search.includes(`page=${numberOfPages}`)){
                nextPageBtn.style.display = "none";
            }
        }

        isFirstPage()
        isLastPage()
        
                let currentPage = Number(location.search.split('page=')[1]);
        nextPageBtn.addEventListener('click',function(){
            if(location.search.length == 0){
                location.href = `/doctors?page=${2}`
            }
            if(location.href.includes('?treatment=')){
                if(!location.search.includes('&page=')){
                    let treatmentValue = location.search.split("=")[1];
                    location.href = `/doctors/search?treatment=${treatmentValue}&page=2`
                }
                if(location.href.includes('&page')){
                    let queryValue = location.search.split("&")[0];
                    let treatmentValue = queryValue.split('=')[1]
                    location.href = `/doctors/search?treatment=${treatmentValue}&page=${++currentPage}`
                }
            }
            if(location.href.includes('?page=')){
                location.href = `doctors?page=${++currentPage}`
            }
        })

        previousPageBtn.addEventListener('click', () => {
            if(location.href.includes('search?treatment=') && location.href.includes('page')){
                let path = location.search.split('=')[1]
                let treatment = path.split('&')[0]
                let currentPage = Number(location.search.split('=')[2])
                console.log(treatment)
                console.log(true)
                location.href = `/doctors/search?treatment=${treatment}&page=${--currentPage}`
            }
            else{
                location.href = `/doctors?page=${--currentPage}`
            }
        
        })

    </script>