<link rel="stylesheet" href="/style/style.css">
<link rel="stylesheet" href="/style/animation.css">
<link rel="stylesheet" href="/style/menu.css">


<section class="FullContent">

    <div class="headerSection">
        <div class="headerContent">
            <div class="menu-icon">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <p class="title title-SHP">All Hospitals</p>
            <div class="search-icon">
                <ion-icon name="search-outline"></ion-icon>
            </div>
        </div>
    </div>

    <section class="HospitalsListCompnent">


        <section class="resultFetchedData">
            <p class="normalText">Showing Results for - Hospitals</p>
        </section>



        <hr class="divider">
        {{#if message}}
        <section class="noDataFound">
            <img src="/img/sad.png" alt="">
            <p class="normalText">{{message}}</p>
        </section>
        {{/if}}

        <section class="allHospitalsSection">
            <div class="allHospitalsList">

                {{#each allHospitalsData}}

                <div class="singleHospitalCard">
                    <div class="hospitalCardUpper">
                        <!-- left Image Right Info -->
                        <div class="H-singlecardImage">
                            <img src="/uploads/{{this.featuredImg}}" alt="">
                        </div>
                        <div class="H-singleCardInfo">
                            <h1 class="H-singleHospitalTitle">{{this.hospitalName}}</h1>
                            <p>{{hospitalMeta}}</p>
                        </div>
                    </div>
                    <div class="hospitalCardLower">
                        <!-- Two Btns -->
                        <button class="H-callNow"><a href="tel:{{this.phoneNumber}}"> Call Now</a></button>
                        <button class="H-getDetails"><a href="/hospital/{{this.hospitalName}}"> Get Details</a></button>
                    </div>
                </div>
                <hr class="divider">

                {{/each}}

            </div>
        </section>

        {{#if numberOfPages}}
        <p class="numberOfPages hide">{{numberOfPages}}</p>
        {{/if}}

        {{#if fullData}}
        <section class="paginationBTNS">
            <button id="previousPage">Previous</button>
            <button id="nextPage">Next</button>
        </section>
        {{/if}}

    </section>


    <!-- Search Section -->
    <section class="searchPage-hospital">
        {{> hospital-search}}

    </section>




    <!-- Menu -->
    {{> mobile-menu}}

</section>

<script src="/js/SLP.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<script>

    let numberOfPages = document.querySelector('.numberOfPages').innerHTML;
    let lastPage = Number(numberOfPages)
    let endPage = String(numberOfPages)
    let allURL = location.search;

if(location.search == NaN || location.search.includes('?page=1')){
    previousPage.style.display = 'none'
}
else if(location.search.includes('?page='+endPage)){
    nextPage.style.display = 'none'
}

if(location.search == NaN || location.search.includes('&page=1')){
    previousPage.style.display = 'none'
}

if(endPage == 2 || endPage == 1){
    previousPage.style.display = 'none'
    nextPage.style.display = 'none'

}

if(!location.href.includes('page')){
    previousPage.style.display = 'none'
}
else if(location.search.includes('&page='+endPage)){
    nextPage.style.display = 'none'
}



    let url = location.search;
    let a = url.length;
    {{!-- if (url.includes('&page=')) {
        let pageNo = url.split('&page=')[1]
        let currentUserPage = Number(pageNo);
        if (currentUserPage > lastPage) {
            let url = location.search;
            let a = url.split('&page=')[0]
            location.href = a + "&page=" + lastPage;
        }
        if (currentUserPage <= 1) {
            let url = location.search;
            let a = url.split('&page=')[0]
            location.href = a;
        }

    } --}}


    

    if (!url.includes('&treatment=')) {
            let url = location.search;
            let a = url.length;

        nextPage.addEventListener('click', () => {
            if (!url.includes('?page=')) {
                location.href = 'hospital' + "?page=" + 2;
            }
            else if(url.includes('page=')){
                let pageNo = url.split('?page=')[1]
                let currentUserPage = Number(pageNo);
                {{!-- location.href = 'hospital'+ '?page=' + `${currentUserPage + 1}` --}}

                if (currentUserPage >= lastPage) {
                    let url = location.search;
                    location.href = 'hospital' + "?page=" + lastPage;
                }
                else {
                    let url = location.search;
                    location.href = 'hospital' + "?page=" + `${currentUserPage + 1}`;
                }

            }
        })

        previousPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (url.includes('page=')) {
                let pageNo = url.split('?page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage <= 1) {
                    let url = location.search;
                    location.href = '/hospital?page='+1;
                }
                else {
                    let url = location.search;
                    location.href = 'hospital' + "?page=" + `${currentUserPage - 1}`;
                }

            }
        })
    }
    else if(url.includes('&treatment=')){
        nextPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (!url.includes('&page=')) {
                location.href = url + "&page=" + 2;
            }
            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage >= lastPage) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a + "&page=" + lastPage;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage + 1}`;
                }

            }
        })


        previousPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage <= 1) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage - 1}`;
                }

            }
        })
    }



let href = location.href;
if(href.includes('city=')){
    console.log(true)
        nextPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (!url.includes('&page=')) {
                location.href = url + "&page=" + 2;
            }
            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage >= lastPage) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a + "&page=" + lastPage;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage + 1}`;
                }

            }
        })


        previousPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage <= 1) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage - 1}`;
                }

            }
        })
    }

if(href.includes('hospital?hospital=')){
    console.log(true)
        nextPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (!url.includes('&page=')) {
                location.href = url + "&page=" + 2;
            }
            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage >= lastPage) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a + "&page=" + lastPage;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage + 1}`;
                }

            }
        })


        previousPage.addEventListener('click', () => {
            let url = location.search;
            let a = url.length;

            if (url.includes('&page=')) {
                let pageNo = url.split('&page=')[1]
                let currentUserPage = Number(pageNo);
                if (currentUserPage <= 1) {
                    let url = location.search;
                    let a = url.split('&page=')[0]
                    location.href = a;
                }
                else {
                    let url = location.search;
                    let mainURL = url.split('&page=')[0]
                    location.href = mainURL + "&page=" + `${currentUserPage - 1}`;
                }

            }
        })
    }



</script>